body{
	background-color: gray;
}

.tb {
	background-color: rgba(107, 99, 99,0.7);
	color: white;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	border-radius: 5px;
	width: 1100px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

td {
	text-align: center;
}

li{
	text-align: left;
}
header{
	display: block;
	height: 100px;
	background-color:rgba(13, 12, 9,0.6);
	color: gray;
	font-size: 66px;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
}
span{
	vertical-align: middle;
}

footer{
	display: block;
	background-color:rgba(13, 12, 9,0.6);
	color: gray;
	font-size: 40px;
	border-radius: 3px;
	text-align: center;
}

p{
	text-align: left;
	font-size: 25px;

}